@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    position: absolute;
    width: 1140px;
    height: 1128px;
    left: 381px;
    top: 116px;
    background: #F5EBDC; 
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 24px;
}

.header-img {
    width: 87px;
    height: 87px;
    left: 789px;
    top: 200px;
    
}
.header-title {
    display: flex;
    gap: 32px;
    font-family: 'Inter', sans-serif;
    color: #D42401;
    font-weight: 800;
    font-size: 28px;
    line-height: 34px;
}
.header-sub-title {
    font-family: 'Inter', sans-serif;
    font-family: 'Inter';
    color: #502314;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
}

.content-body-escrito2 {
    display: flex;
    justify-content: center;
    color: #502314;
    
}

.content-body-escrito3 {
    display: flex;
    justify-content: center;
    color: #502314;
    
}

.content-secudario{
    display: flex;
   flex-direction: row;
   align-items: baseline;
   align-content: flex-end;
  
}

.content-secudario-img01{
    width: 300px;
    height: 204px;
    left: 472px;
    top: 440px;
    
    background: #FFFFFF;
    border-radius: 12px 12px 0px 0px;
    padding: 18px;

    width: 215px;
    height: 161px;
    left: 524px;
    top: 465px;



}

.content-secudario-texto1 {
    display: flex;
    align-content: flex-start;
    flex-direction: column-reverse;

    width: 300px;
    height: 92px;
    left: 472px;
    top: 644px;

    background: #FED8B5;

    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 20px;
    color: #D42401;

}

.content-secudario-texto2 {
    display: flex;
    align-content: flex-start;
    flex-direction: column-reverse;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #502314;
}

.content-secudario-texto3{
    width: 24px;
    height: 22px;
    left: 652px;
    top: 690px;
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    color: #502314;
}

.content-secudario-texto4{
    width: 76px;
    height: 47px;
    left: 678px;
    top: 670px;
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 39px;
    line-height: 47px;
    color: #D42401;
}

.content-terciario-img02 {
    width: 300px;
    height: 204px;
    left: 810px;
    top: 440px;

    background: #FFFFFF;
    border-radius: 12px 12px 0px 0px;
    padding: 18px;
    
    width: 205px;
    height: 154px;
    left: 858px;
    top: 465px;

}

.content-terciario-texto1 {
    display: flex;
    align-content: flex-start;
    flex-direction: column-reverse;

    width: 300px;
    height: 92px;
    left: 472px;
    top: 644px;

    background: #FED8B5;

    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 20px;
    color: #D42401;
}

.content-terciario-texto2 {
    display: flex;
    align-content: flex-start;
    flex-direction: column-reverse;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #502314;
}

.content-terciario-texto3{
    width: 24px;
    height: 22px;
    left: 652px;
    top: 690px;
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    color: #502314;
}

.content-terciario-texto4{
    width: 76px;
    height: 47px;
    left: 678px;
    top: 670px;
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 39px;
    line-height: 47px;
    color: #D42401;
}

.content-quaternario-img03 {
    width: 300px;
    height: 204px;
    left: 810px;
    top: 440px;

    background: #FFFFFF;
    border-radius: 12px 12px 0px 0px;
    padding: 18px;
    
    width: 205px;
    height: 154px;
    left: 858px;
    top: 465px;
}

.content-quaternario-texto1 {
    display: flex;
    align-content: flex-start;
    flex-direction: column-reverse;

    width: 300px;
    height: 92px;
    left: 472px;
    top: 644px;

    background: #FED8B5;

    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 20px;
    color: #D42401;
}

.content-quaternario-texto2 {
    display: flex;
    align-content: flex-start;
    flex-direction: column-reverse;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #502314;
}

.content-quaternario-texto3{
    width: 24px;
    height: 22px;
    left: 652px;
    top: 690px;
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    color: #502314;
}

.content-quaternario-texto4{
    width: 76px;
    height: 47px;
    left: 678px;
    top: 670px;
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 39px;
    line-height: 47px;
    color: #D42401;
}

.content-quinario{

    
}

.content-quinario-img04 {
    width: 300px;
    height: 204px;
    left: 810px;
    top: 440px;

    background: #FFFFFF;
    border-radius: 12px 12px 0px 0px;
    padding: 18px;
    
    width: 205px;
    height: 154px;
    left: 858px;
    top: 465px;
}

.content-quinario-texto1 {
    display: flex;
    align-content: flex-start;
    flex-direction: column-reverse;

    width: 300px;
    height: 92px;
    left: 472px;
    top: 644px;

    background: #FED8B5;

    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 20px;
    color: #D42401;
}

.content-quinario-texto2 {
    display: flex;
    align-content: flex-start;
    flex-direction: column-reverse;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #502314;
}

.content-quinario-texto3{
    width: 24px;
    height: 22px;
    left: 652px;
    top: 690px;
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    color: #502314;
}

.content-quinario-texto4{
    width: 76px;
    height: 47px;
    left: 678px;
    top: 670px;
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 39px;
    line-height: 47px;
    color: #D42401;
}

.content-senario-img05 {
    width: 300px;
    height: 204px;
    left: 810px;
    top: 440px;

    background: #FFFFFF;
    border-radius: 12px 12px 0px 0px;
    padding: 18px;
    
    width: 205px;
    height: 154px;
    left: 858px;
    top: 465px;
}

.content-senario-texto1 {
    width: 300px;
    height: 92px;
    left: 810px;
    top: 978px;
    background: #FED8B5;
    width: 97px;
    height: 24px;
    left: 831px;
    top: 1001px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;

    color: #D42401;
}

.content-senario-texto2 {
    width: 85px;
    height: 17px;
    left: 831px;
    top: 1027px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
        
    color: #502314;
}

.content-senario-texto3{
    width: 24px;
    height: 22px;
    left: 990px;
    top: 1024px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    color: #502314;
}

.content-senario-texto4{
    width: 76px;
    height: 47px;
    left: 1016px;
    top: 1004px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 39px;
    line-height: 47px;
    
    color: #D42401;
}

.content-setenario-img06{
    width: 300px;
    height: 204px;
    left: 1148px;
    top: 774px;
    
    background: #FFFFFF;
    border-radius: 12px 12px 0px 0px;

    width: 230px;
    height: 173px;
    left: 1183px;
    top: 785px;
}

.content-setenario-texto1{
    width: 300px;
    height: 92px;
    left: 1148px;
    top: 978px;
    
    background: #FED8B5;

    width: 102px;
    height: 24px;
    left: 1169px;
    top: 1001px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    
    color: #D42401;

}

.content-setenario-texto2{
    width: 82px;
    height: 17px;
    left: 1169px;
    top: 1027px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;

    color: #502314;
}

.content-setenario-texto3{
    width: 24px;
    height: 22px;
    left: 1328px;
    top: 1024px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    color: #502314;  
}

.content-setenario-texto4{
    width: 76px;
    height: 47px;
    left: 1354px;
    top: 1004px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 39px;
    line-height: 47px;

    color: #D42401;
}

.footer {
    padding: 2px;

}